/*Admin - Main*/


#loading-animation{display:none}
#uultra-sync-results{display:none}

#uultra-validation-results{display:none}
.user-ultra-sect h3{ margin-left:0px}
.user-ultra-sect h3{ font-size:20px;}

.user-ultra-btn-red{ background: #F00 !important;  color:#FFF !important}

/*users module*/
.uuultra-users-membership-edition {  margin:10px 0px 10px 0px; padding-left:15px;}

/**/

select.uultra-user-list{ font-size:12px}
.uuultra-top-noti-admin {  margin:10px 0px 10px 0px}

.uultra-frame-impo{ background:#F2F2F2}

.user-ultra-rounded {-moz-border-radius: 5px; border-radius:5px;}
.user-ultra-sect { background:#FFF; position:relative; clear:both; width:98%; margin-top:20px; padding:20px 10px 10px 10px; height:auto !important}

.user-ultra-sect .uultra-receivers{ position:relative; clear:both; width:98%; margin-top:20px; padding:20px 10px 5px 10px; height:auto !important}

.user-ultra-sect .uultra-receivers .user-ultra-int-mess-col{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:30%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:5px; -moz-border-radius: 5px; border-radius:5px; text-align:left; position:relative;}


span.uultra-u-avatar{-moz-border-radius: 5px; border-radius:5px;}

/*Private Messages Table*/



.uultra-myprivate-messages { margin:10px auto 10px auto}



.tablenav{ margin:5px auto 10px auto; height:30px;}



/*TICKET SYSTEM*/

.user-ultra-sect .uultra-ticket{}
.user-ultra-sect .uultra-ticket h4{ font-size:1.3em;}

.user-ultra-sect .uultra-ticket .user-col-sep{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:60%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:5px; -moz-border-radius: 5px; border-radius:5px; text-align:left; position:relative;}

.user-ultra-sect .uultra-ticket .user-col-sep_right{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:30%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:5px; -moz-border-radius: 5px; border-radius:5px; text-align:left; position:relative;}

.uultra-user-searcher{ background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s; width:98%; height:	30px; font-size:18px}
	
.uultra-user-drop-ticketings{ background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s; width:98%; height:	30px; font-size:18px}

#table-3 {

	border: 1px solid #DFDFDF;

	background-color: #F9F9F9;

	width: 100%;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;


	color: #333;

	line-height: 1;

	margin-top:15px !important;

	margin-bottom:15px !important;

	

	

		

	

}

#table-3 td, #table-3 th {

	border-top-color: white;

	border-bottom: 1px solid #DFDFDF;

	color: #555;

}

#table-3 th {

	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;


	font-weight: normal;

	padding: 7px 7px 8px;

	text-align: left;

	line-height: 1.3em;

	font-size: 14px;

	background: #EFEFEF

}

#table-3 td {

	font-size: 12px;

	padding: 10px 7px 2px;

	vertical-align: top;

}



#table-3 tr {

/*background: #F2F2F2;*/

background:  #FBFBFB;

}



#table-3 tr:nth-child(even) {

/*background: #F2F2F2;*/

background: #F9F9F9;

}



#table-3 .row-actions { margin:10px 0px 10px 0px;}

#table-3 .row-actions a{ color:#333}

#table-3 .row-actions a:hover{ color: #000}

.uultra-unread-message{

	background:#FFFFCE !important;

	 

	

}


