/*Admin - Main*/


#loading-animation{display:none}
#uultra-sync-results{display:none}

.uultra-link-content-edition-box{ clear:both;  z-index:9999; }

.loading-animation-ajax{display:none}

#uultra-validation-results{display:none}
.user-ultra-sect h3{ margin-left:0px}
.user-ultra-sect h3{ font-size:20px;}

.user-ultra-btn-red{ background: #F00 !important;  color:#FFF !important}

/*users module*/

.uuultra-users-membership-edition {  margin:10px 0px 10px 0px; padding-left:15px;}

.uultra-setting-options-texarea { height:280px}


/**/
.uultra-package-opt {  margin:10px 0px 10px 0px}

.uultra-package-opt input[type=checkbox]:not(old),
.user-ultra-sect input[type=radio   ]:not(old){
  width   : 28px !important;
  margin  : 0 !important;
  padding : 0 !important;
  opacity : 100 !important  ;
}

.uultra-package-opt input[type=checkbox]:not(old) + label,
.uultra-package-opt input[type=radio   ]:not(old) + label{
  display      : inline-block !important;
  margin-left  : -28px !important;
  padding-left : 28px !important;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px !important;
}


.uuultra-top-noti-admin {  margin:10px 0px 10px 0px}

.uultra-frame-impo{ background:#F2F2F2}

.user-ultra-rounded {-moz-border-radius: 5px; border-radius:5px;}
.user-ultra-sect { background:#FFF; position:relative; clear:both; width:98%; margin-top:20px; padding:20px 10px 10px 10px; height:auto !important}

.user-ultra-sect-second { background:#FFF; position:relative; clear:both; width:98%; margin-top:20px;  margin-bottom:20px; padding:10px 10px 10px 10px; height:auto !important; border:solid 1px #F4F4F4}


.user-ultra-main-left { position:relative;  float: left; border:#EFEFEF solid 1px; width:70%; min-height:80px; height:auto !important;  margin:10px 0px 0px 10px; padding-bottom:10px;}

.user-ultra-main-right {position:relative; float: left; background:#FFF; border:#EFEFEF solid 1px; width:18%; min-height:80px; height:auto !important; margin:10px 0px 0px 10px; padding-bottom:10px;}

.user-ultra-sect .left_col{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:46%; min-height:210px;  height:auto !important; margin-left:10px; ; padding-bottom:10px;}

.user-ultra-sect .right_col{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:50%;min-height:210px;  height:auto !important; margin-left:10px; padding:0px 5px 10px 5px}


/*check box styles*/


/*Temlate selector*/

.user-ultra-sect .uultra_template_block{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:22%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:10px; -moz-border-radius: 5px; border-radius:5px; text-align:center; position:relative;}

.user-ultra-sect .uultra_template_block h4{ font-size:1.3em}

.user-ultra-sect .uultra_template_block img{ width:98%; max-width:500px; max-height:300px;}

.user-ultra-sect .uultra_template_block .uultra_temp_desc{ height:90px; background: #FBFBFB; width:98%;}
.user-ultra-sect .uultra_template_block .uultra_temp_desc p{ padding:5px; text-align:left}
.user-ultra-sect .uultra_template_block .uultra_temp_opt{}

.user-ultra-sect .uultra_template_block p.btn-find { background:#3e98a1; padding-left:10px; padding-right:10px;line-height:50px; border:solid 1px #267c85; font-size:14px; width:200px; margin:10px auto 0 auto}

.user-ultra-sect .uultra_template_block p.btn-find a{color:#FFF;text-decoration:none; display:block }
.user-ultra-sect .uultra_template_block p.btn-find a:hover{color: #000 ; text-decoration:none}


.user-ultra-sect .uultra_template_block p.uultra-btn-act { background: #090; padding-left:10px; padding-right:10px;line-height:50px; color:#FFF; font-size:14px; width:200px; margin:10px auto 0 auto}

span.uultra-template-active{ position:absolute; right:10px; width:30px; height:30px;}
span.uultra-template-active i{ font-size:30px;} 


/*modules activation*/

.user-ultra-sect .uultra_modules_acvitation_block_left{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:60%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:5px; -moz-border-radius: 5px; border-radius:5px; text-align:center; position:relative;}

.user-ultra-sect .uultra_modules_acvitation_block_left ul{}
.user-ultra-sect .uultra_modules_acvitation_block_left ul li{ display:inline-block; vertical-align:top; width:32%; margin:5px 0 5px 5px; border:#EFEFEF solid 1px; text-align:left;}

.user-ultra-sect .uultra_modules_acvitation_block_left p{ text-align:left; margin:5px 0px 5px 0px}

.user-ultra-sect .uultra_modules_acvitation_block_left h4{ text-align:left; font-size:1.2em }


.user-ultra-sect .uultra_modules_acvitation_block_right{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:30%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:10px; -moz-border-radius: 5px; border-radius:5px; text-align:center; position:relative;}

/*User Menu*/
.user-ultra-sect .uultra_modules_acvitation_block_right ul{}
.user-ultra-sect .uultra_modules_acvitation_block_right ul li{ float:none; clear:both; vertical-align:top; width:97%; margin:5px auto 5px auto; border:#EFEFEF solid 1px; text-align:left; min-height:40px; height:auto !important; -moz-border-radius: 5px; border-radius:5px; position:relative;}


.user-ultra-sect .uultra_modules_acvitation_block_right ul li i{ margin-right:5px; padding-left:5px; }

.user-ultra-sect .uultra_modules_acvitation_block_right .uultra-custom-link-header{ height:30px; background:#F5F5F5; position:relative}

.user-ultra-sect .uultra_modules_acvitation_block_right .uultra-custom-link-header a{ display:block; height:30px; width:100%; text-decoration:none; color:#333}

.user-ultra-sect .uultra_modules_acvitation_block_right h4{ text-align:left; font-size:1.2em }

.user-ultra-sect .uultra_modules_acvitation_block_right p{ text-align:left; margin:5px 0px 5px 0px}
.user-ultra-sect .uultra-links-content-edition-box{ }
.user-ultra-sect .uultra-links-content-edition-box table{ }
.user-ultra-sect .uultra-links-content-edition-box table tr{ text-align:left; }




.user-ultra-sect .uultra_modules_acvitation_block_left input[type=checkbox]:not(old)
{
  width   : 28px !important;
  margin  : 0 !important;
  padding : 0 !important;
  opacity : 0 !important;
}

.user-ultra-sect .uultra_modules_acvitation_block_left input[type=checkbox]:not(old) + label
{
  display      : inline-block !important;
  margin-left  : -28px !important;
  padding-left : 28px !important;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px !important;
}

.user-ultra-sect .uultra_modules_acvitation_block_left input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.user-ultra-sect .uultra_modules_acvitation_block_left input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

/* end modules activation*/


.user-ultra-sect .left_widget_customizer{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:30%; height:auto !important; margin-left:10px; margin-top:5px; padding-bottom:10px; padding-left:10px;}


/* defaul widgets list*/
.user-ultra-sect li.left_widget_customizer_li{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:100%; height:auto !important; margin-left:0px; margin-top:5px; padding-bottom:10px; -moz-border-radius: 5px; border-radius:5px; }


.user-ultra-sect ul.uultra-admin-unavailable-widgets {

    width:100%;    
    min-height:200px;
    clear:both;
	border: dashed 2px  #EEE  ;
    position:relative;
	padding-top:10px;
	padding-bottom:10px;

}

.user-ultra-sect ul.uultra-admin-unavailable-widgets li.left_widget_customizer_li{

   width:30%;
   margin-left:5px;

}



.user-ultra-sect .uultra-admin-available-widgets-cols {

    width:100%;    
    min-height:200px;
    clear:both;
	border: solid 1px  #EEE  ;
    position:relative;
	padding-top:10px;
	padding-bottom:10px;

}

.user-ultra-sect .uultra-admin-available-widgets-cols ul.uultra-admin-available-widgets {

    width:31%;    
    min-height:200px;
    clear:both;
	/*border: solid 1px  #EEE  ;
	*/
    position:relative;
	padding-top:10px;
	margin-left:10px;
	padding-bottom:10px;
	display:inline-block;
	vertical-align:	top;

}

.user-ultra-sect .uultra-expandable-panel-heading-widgets {

    width:100%; 
    cursor:pointer;
    min-height:50px;
    clear:both;
    background-color:  #F4F4F4;
    position:relative;
}

.user-ultra-sect .uultra-adm-widget-cont {

    width:98%; 
   
    clear:both;
    background-color: #F9F9F9;
    position:relative;
	margin:5px auto 5px auto;
	-moz-border-radius: 2px; border-radius:2px;
	
	
}

.user-ultra-sect .uultra-adm-widget-cont-add-new {

    width:35%; 
   
    clear:both;
    background-color: #F9F9F9;
    position:relative;
	margin:5px 0px 5px 0px;
	-moz-border-radius: 2px; border-radius:2px;
	
	
}

.user-ultra-sect .uultra-adm-links-cont-add-new {

    width:98%; 
   
    clear:both;
    background-color: #F9F9F9;
    position:relative;
	margin:5px 0px 5px 0px;
	-moz-border-radius: 2px; border-radius:2px;
	
	
}

.user-ultra-sect .uultra-adm-widget-cont table {

    width:97%; 
   
  
	
}

.user-ultra-sect .uultra-expandable-panel-heading-widgets:hover {

    color:#666;

}

.user-ultra-sect .uultra-expandable-panel-heading-widgets h2 {

    padding:14px 10px 9px 15px; 

    font-size:18px;

    line-height:20px;

	margin:0px !important;

}

span.uultra-widgets-icon-close-open {

    width:20px;
    height:20px;
    position:absolute;
    background-image:url(../images/icon-close-open.png);
    right:5px;
	top:2px;

}

span.uultra-links-icon-close-open {

    width:20px;
    height:20px;
    position:absolute;
    background-image:url(../images/icon-close-open.png);
    right:5px;
	top:2px;

}

/* end widgets list*/


.user-ultra-sect .left_col_users{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:20%; min-height:210px;  height:auto !important; margin-left:10px;  padding-bottom:10px;}

.user-ultra-sect .right_col_users{ display:inline-block; vertical-align:top; border:#EFEFEF solid 1px; width:75%;min-height:210px;  height:auto !important; margin-left:10px; padding:0px 5px 10px 5px}



.user-ultra-sect .statblock{ display:inline-block; border:#EFEFEF solid 1px; width:22%;height:80px;  margin:10px 5px 10px 5px;}

.user-ultra-sect .statblock h3{ font-size:20px !important; text-align:center; font-weight:bold; margin:10px 0px 10px; padding:0px}
.day_amount{ color: #C30}
.month_amount{ color: #060}
.year_amount{ color: #C33}
.alltime_amount{ color: #C30}

.user-ultra-sect .statblock p{ font-size:18px  !important; text-align:center; font-weight:bold; margin:0px; padding:0px}


.user-ultra-sect .statblock-graph{ display:inline;  width:98%;min-height:130px; height:auto;  margin:10px 5px 10px 5px;; text-align:center}


.user-ultra-sect .statblock-social{ display:inline-block; border:#EFEFEF solid 1px; width:17%;height:130px;  margin:10px 5px 10px 5px;; text-align:center}

.user-ultra-sect .statblock-social h3{ font-size:18px !important; text-align:center;  margin:15px 0px 15px; padding:0px}

.user-ultra-info, .user-ultra-success, .user-ultra-warning, .user-ultra-error, .isa_error {
    border: 1px solid;
    margin: 10px 0px 0px 5px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;-moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.5em;

}
.user-ultra-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.user-ultra-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.user-ultra-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.user-ultra-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}


/*Customizer Styles*/

.uultra-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 190px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
	background-color:rgba(240,240,240,0.7);
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	font-size:14px;
	padding-top:30px;
}

.uultra-profile-fields-row { width:600px; clear:both; position:relative; min-height:60px; height:auto !important; margin:10px 0px 10px 0px; padding:0px ; border:solid 1px #EFEFEF; -moz-border-radius:.5em;
-webkit-border-radius:.5em;
border-radius:.5em;

}

.uultra-profile-fields-row .heading_title{ width:100%; clear:both; vertical-align:middle; position:relative; height:30px; margin:0px ; padding-top:15px; border-bottom:solid 1px #EFEFEF; 
}


.uultra-profile-fields-row .options-bar{ width:170px; clear:both;height:40px; margin:0px ;  text-align:right; right:0; top:0; position:absolute; padding:0px}

.uultra-profile-fields-row .options-bar p{ margin:8px 5px 0px 5px;}

.uultra-profile-fields-row .heading_title h3{ font-size:14px; margin:0px 0px 0px 10px;}

.uultra-profile-fields-row  .heading_title.separator { background:#EEE;}

.uultra-profile-fields-row.profile-field {width:450px; margin-left:30px; }

.uultra-profile-fields-row .uultra-fields-edition{width:85%; margin:10px auto 10px auto; display:none }




#uu-fields-sortable .ui-selected {    background: red;    color: white;    font-weight: bold;}
#uu-fields-sortable  {cursor:move}



#uultra-add-package   { display:none}
.uultra-notification   { width:70%; clear:both; display:none}
#uultra-add-new-custom-field-frm   { display:none }
.uultra-deleted   { background:#FCC}


/*END Customizer Styles*/




.genericon {
	color:  #CCC;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 23px;
	
	line-height: 22px;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	background-color:none;
	border:none;
}
.genericon:hover {
	color:  #999;
	border:none;
}

.genericon:visited {
	color: #999;
	border:none;
}

/**
 * IE7 and IE6 hacks
 */


.genericon_footer {
	*overflow: auto;
	*zoom: 1;
	*display: inline;
}

/*Social icons footer*/
.genericon_footer {
	color:  #CCC;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 45px;
	
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
	background-color:none;
	border:none;
}
.genericon_footer:hover {
	color:  #999;
	border:none;
}

.genericon_footer:visited {
	color: #999;
	border:none;
}

/**
 * IE7 and IE6 hacks
 */


.genericon_footer {
	*overflow: auto;
	*zoom: 1;
	*display: inline;
}

/* Social icons */
.genericon-github:before { content: '\f200'; }
.genericon-dribbble:before { content: '\f201'; }
.genericon-twitter:before { content: '\f202'; }
.genericon-facebook-alt:before { content: '\f204'; }
.genericon-googleplus:before { content: '\f206'; }
.genericon-linkedin:before { content: '\f207'; }
.genericon-pinterest:before { content: '\f209'; }
.genericon-flickr:before { content: '\f211'; }
.genericon-vimeo:before { content: '\f212'; }
.genericon-youtube:before { content: '\f213'; }
.genericon-tumblr:before { content: '\f214'; }

/* Social Media icons
------------------------------------------------------ */
.uultra-social-media {
	list-style: none;
	position:relative;
	text-align:center; margin:0px auto 0 auto; 
	padding:10px 0 10px 0; width:100%; text-align:center; 
	
}
/*footer icons*/
ul.uultra-social-media  li  {
	
	font-family:'Genericons';
    position: relative;
    display: inline-block;
    margin:  12px 10px 10px 10px;
    width: 70px;
    height: 70px;
	background-color:  #999;
	border: solid 1px #CCC;
    
	
	border:none;
    border-radius: 50%;
	
	-webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
	
	
}

ul.uultra-social-media  li  a{
	width:50px;
	height:50px;
	margin:10px 10px 5px 5px;
	color:#FFF !important;
	
	
}

ul.uultra-social-media  li:hover{
     background-color: #f7f7f7;
  
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	
}


.uultra-edit-package-admin{
     background-color: #f7f7f7;
	 clear:both;
	 width:98%;
	 margin:10px auto 10px auto;
	 float:none;
	 display:none;
	 padding-top:10px;
	 padding-bottom:10px;
  
   
	
}

.uultra-edit-user-admin{
     background-color: #FFF;
	 clear:both;
	 width:98%;
	 margin:10px auto 10px auto;
	 border:solid 1px #F3F3F3;
	 float:none;
	 display:none;
	 padding-top:10px;
	 padding-bottom:10px;
  
   
	
}

.uultra-package-edit-noti-mess{
	 clear:both;
	 width:98%;
	 margin:10px auto 10px auto;
	 float:none;
	 display:none;
	 padding-top:10px;
	 padding-bottom:10px;
  
   
	
}


/*Pagination */

.usersultra-paginate { text-align:right; margin:10px 0px 10px 0px}

.usersultra-paginate a.page-numbers {
padding: 4px 10px !important;
margin: 0 2px !important;
display: inline-block !important;
font-size: 11px !important;
height: 19px !important;
line-height: 19px !important;
-moz-border-radius: 5px !important;
 border-radius:5px  !important;
}
.usersultra-paginate span,
.usersultra-paginate a.page-numbers {
	background: #fff !important;
	border: 1px solid #ddd;
	text-decoration: none !important;
	color: #666 !important;
}

.usersultra-paginate span.current {
	padding: 4px 10px !important;
    margin: 0 2px !important;
	background: #444 !important;
	border-color:  #444 !important;
	color: #fff !important;
	display: inline-block !important;
	
	-moz-border-radius: 5px !important;
     border-radius:5px  !important;
}

.usersultra-paginate a.page-numbers:hover {
	background: #222 !important;
	border-color: #222 !important;
	color: #fff !important;
	-moz-border-radius: 5px !important;
     border-radius:5px  !important;
}


/*START*/

code,

kbd,

pre,

samp {

  font-family: monospace, serif;

  font-size: 1em;

}



.user-ultra-sect pre {

  white-space: pre-wrap;

}



.user-ultra-sect pre,

   {

    border: 1px solid #999;

    page-break-inside: avoid;

  }



.user-ultra-sect code {

  padding: 2px 4px;

  font-size: 90%;

  color: #c7254e;

  white-space: nowrap;

  background-color: #f9f2f4;

  border-radius: 4px;

}



.user-ultra-sect pre {

  display: block;

  padding: 9.5px;

  margin: 0 0 10px;

  font-size: 13px;

  line-height: 1.428571429;

  color: #333333;

  word-break: break-all;

  word-wrap: break-word;

  background-color: #f5f5f5;

  border: 1px solid #cccccc;

  border-radius: 4px;

}



.user-ultra-sect pre code {

  padding: 0;

  font-size: inherit;

  color: inherit;

  white-space: pre-wrap;

  background-color: transparent;

  border-radius: 0;

}


/*--------------------------------------------------
				      PAGINATION
---------------------------------------------------*/

/*Pager*/
.user-ultra-sect .uupagination  {
	padding: 3px;
	margin: 15px 3px 15px 3px;
	position:relative;
	clear:both;
	height:30px; text-align:right
}
.user-ultra-sect .uupagination .pagination {
	padding: 3px;
	margin: 15px 3px 15px 3px;
	position:relative;
	clear:both;
	height:30px;
}
.user-ultra-sect .uupagination .pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #d3e5f2;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	color: #4b4c4e;
	font-size:12px;
	font-weight:bold;
}
.user-ultra-sect .uupagination .pagination a:hover, div.pagination a:active {
	border: 1px solid #27a5dc;
	color:#1185b8;
}
.user-ultra-sect .uupagination .pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #27a5dc;
	font-weight: bold;
	background-color: #7bc8ea;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.user-ultra-sect .uupagination .pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #616161;
	}

.table-generic tr:nth-child(even) {
background: #F2F2F2;
}


i.mce_uultra_shortcodes_button{background-image:url(../images/small_logo_16x16.png)!important;background-repeat:no-repeat!important;background-position:center!important}


.uultra-profile-seperator {
    border-bottom: 1px  dotted  #F3F3F3;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin:15px 0px 10px 0px;
    padding: 0 0 10px 5px;
    text-transform: uppercase;
}

span.data-a {
	width:30%;
	display:inline-block;
	padding-left:5px;
	padding-top:5px; color:#333; text-align:left;}
	
	span.data-b {
	width:50%;
	display:inline-block; color:#333; text-align:left;}	 
	
	
.user-ultra-sect-welcome-message { padding:10px; position:relative}
.user-ultra-sect-welcome-message  .uu-sect-p { width:98%;}

.user-ultra-sect-welcome-message p{  font-size:1.2em}

/*--- ONLINE USERS*/

ul.usersultra-online-users-results{

	width:100%;
	position:relative;
	text-align:center;
	

}



ul.usersultra-online-users-results .xoousers-prof-photo{

	margin:5px auto 5px auto; height:auto; max-height:250px; min-height:5px;;

	

}





ul.usersultra-online-users-results li{

	

	display:inline-block;

	width:21%;

	

	border:solid 1px #EFEFEF;

	margin:10px 8px 5px 8px;

	padding:5px;

	min-height:5px ;

	height:auto;

	vertical-align:top;	

}



ul.usersultra-online-users-results li .avatar_rounded{	

	-moz-border-radius: 50%; border-radius:50%;	

}

ul.usersultra-online-users-results li.avatar_mini{
	border:none !important;
	margin:5px;
	padding:0px	;	

}

ul.usersultra-online-users-results li.list_mini_badges{
	border:none !important;
	
	margin-top:5px;
	padding:0px;
}

ul.usersultra-online-users-results li.list_mini{
	border:none !important;
	display:inline;
	clear:both;
	float:none;
	width:99%;	
	margin-top:5px;
	padding:0px;
}



ul.usersultra-online-users-results li p.uu-direct-name{ 



	font-size:14px; font-weight:bold; text-align:center !important;

	

}



ul.usersultra-online-users-results li p.country_name{ 



	text-align:center !important;

	

}



ul.usersultra-online-users-results .info-div{

	

		width:100%;

	

	

}



ul.usersultra-online-users-results .uultra-view-profile-bar{

	

	margin:5px auto 5px auto;

	width:80px;

}

.uultra-nav-pro-features { text-align:right !important;  width:98%; margin-top:15px;  border-bottom:solid 1px #CCC }
.uultra-multi-tab-options { margin-top:30px; }

.uultra-nav-pro-features li.uultra-pro-li{ height:40px !important; padding-top:10px;}
.uultra-nav-pro-features li.uultra-pro-li a{ text-decoration:none !important; color:#333; font-size:1.3em; display:block; height:100%; }



/*Users Edition*/

.user-ultra-sect-users { background:#FFF; position:relative; clear:both; width:98%; margin-top:20px; padding:20px 10px 10px 10px; height:auto !important; display:inline-block}


.user-ultra-sect-users .xoouserultra-seperator
{

	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 30px !important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding:0 0 10px 0;
	color: #333;
	text-align:left;
	cursor:pointer;
	position:relative;

}

.ui-datepicker{ background:#CCC}

.user-ultra-sect-users .xoouserultra-field {
	float: left;
	width: 100%;
	padding: 0 0 20px 0;
	margin: 0;
}


.user-ultra-sect-users .xoouserultra-field-type {

	float: left;
	width: 20%;

}

.user-ultra-sect-users .xoouserultra-field-type i {

	float: left;

	width: 26px;

	height: 26px;

	line-height: 26px;

	margin: 0 14px 0 0;

	border-radius: 999px;

	

	border: solid 1px #CCC;

	text-align: center;

	position: relative;

	top: auto;

}



.user-ultra-sect-users .xoouserultra-field-type i.xoouserultra-icon-none {

	background: none;

}


.user-ultra-sect-users .xoouserultra-field-value {

	float: left;
	width: 66%;

}

.fa-icon-none{ border-color: #FFF !important}

.fa-none{ border-color: #FFF !important}


.xoouserultra-field-type span, .xoouserultra-field-value span {

	float: left;
	line-height: 26px;

}
.xoouserultra-field-value span
{	
	width: 100%; 

}


span.uultra-user-editions-icon-close-open {

    width:20px;
    height:20px;
    position:absolute;
    background-image:url(../images/icon-close-open.png);
    right:5px;
	top:2px;

}


/*USERS DASBHOARD CHECKBOXES*/

/* Base for label styling */
.user-ultra-sect-users [type="checkbox"]:not(:checked),
.user-ultra-sect-users [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.user-ultra-sect-users [type="checkbox"]:not(:checked) + label,
.user-ultra-sect-users [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 2px;
  cursor: pointer;
}

/* checkbox aspect */
.user-ultra-sect-users [type="checkbox"]:not(:checked) + label:before,
.user-ultra-sect-users [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 0px;
  width: 16px; height: 14px;
  border: 1px solid #F5F5F5;
 /* background: #f8f8f8;*/
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

/* checked mark aspect */
.user-ultra-sect-users [type="checkbox"]:not(:checked) + label:after,
.user-ultra-sect-users [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; 
  left: 4px;
  font-size: 12px;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
.user-ultra-sect-users [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.user-ultra-sect-users [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.user-ultra-sect-users [type="checkbox"]:disabled:not(:checked) + label:before,
.user-ultra-sect-users [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.user-ultra-sect-users [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.user-ultra-sect-users [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
.user-ultra-sect-users [type="checkbox"]:checked:focus + label:before,
.user-ultra-sect-users [type="checkbox"]:not(:checked):focus + label:before {
  border:none;
}

/* hover style just for information */
.user-ultra-sect-users label:hover:before {
  /*border: 1px solid #4778d9!important;*/
}

/*-------------STARTS radio styles*/

/* Base for label styling */
.user-ultra-sect-users [type="radio"]:not(:checked), .user-ultra-sect-users
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.user-ultra-sect-users [type="radio"]:not(:checked) + label,
.user-ultra-sect-users [type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  padding-top: 2px;
  cursor: pointer;
}

/* checkbox aspect */
.user-ultra-sect-users [type="radio"]:not(:checked) + label:before,
.user-ultra-sect-users [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 0px;
  width: 17px; height: 17px;
  border: 1px solid #F5F5F5;
 /* background: #f8f8f8;*/
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

/* checked mark aspect */
.user-ultra-sect-users [type="radio"]:not(:checked) + label:after,
.user-ultra-sect-users [type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; 
  left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
.user-ultra-sect-users [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.user-ultra-sect-users [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.user-ultra-sect-users [type="radio"]:disabled:not(:checked) + label:before,
.user-ultra-sect-users [type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.user-ultra-sect-users [type="radio"]:disabled:checked + label:after {
  color: #999;
}

.user-ultra-sect-users [type="radio"]:disabled + label {
  color: #aaa;
}

/* accessibility */
.user-ultra-sect-users [type="radio"]:checked:focus + label:before,
.user-ultra-sect-users [type="radio"]:not(:checked):focus + label:before {
  border: none;
}
/*-------------END radio styles*/

ul.uultra-packages-customizer { position:relative;}
ul.uultra-packages-customizer li{ position:relative; display:inline-block; width:23.9%; border:solid 1px #F3F3F3; margin-right:5px; border-radius:5px}

ul.uultra-packages-customizer .uultra-package-title{ position:relative; background:#f4f4f4; text-align:center; font-size:20px; min-height:50px; width:100%; padding-top:5px;}

ul.uultra-packages-customizer p{ text-align:center}


/*END USER DASHBOARD CHECKBOXES*/

.uultra-protect-group-options { padding:5px}
.uultra-protect-group-options li{ list-style:none}


.uultra-default-widgets-tool-bar { padding:0px; text-align: right}
.uultra-default-widgets-tool-bar p{ text-align:right }


/************************************************************************************

MEDIA QUERIES

*************************************************************************************/



@media only screen and (max-width: 900px){

	ul.uultra-packages-customizer li{  width:48%; }	
   .user-ultra-sect .uultra_template_block{width:45%; }
   
   .user-ultra-sect .left_col{ width:99%; display:block}
   .user-ultra-sect .right_col{ width:99%; display:block; float:none}
   .user-ultra-sect .right_col_users { width:99%; display:block; float:none}

}


@media only screen and (max-width: 600px){

   .user-ultra-sect .uultra_template_block{width:98%; }

}